.about
	.about__photo
		img.about__img(src="/static/photo.jpg", alt="Oleg Gromov")

	p.about__text My name is <b>Oleg Gromov</b>. I'm a frontend developer and team lead at Yandex, Moscow. I write on programming in JavaScript and writing HTML/CSS.
