nav.links
	.links__group
		a.links__item(href="/articles/") Articles
		a.links__item(href="/about/") About me

	.links__group.links__group_external
		a.links__item(href="//github.com/oleggromov", target="_blank") github
		a.links__item(href="//facebook.com/oleg.v.gromov", target="_blank") facebook
		a.links__item(href="//twitter.com/oleggromov", target="_blank") twitter

	.links__group
		a.links__item(href="mailto:hi@oleggromov.com") hi@oleggromov.com
