include /blocks/links/links

extends /blocks/site/site

block title
	| Oleg Gromov

block content
	each article in articles
		article.article
			h1
				a(href=article.url)= article.title
			div.article__date= article.date
			| !{article.preview}

			p.more
				a.more__link(href=article.url)= article.more

block menu
	+links(menu)