html,
body {
	margin: 0;
	padding: 0;
}

.site {
	font: normal 14px/1.5 "PT Sans", Arial, sans-serif;
}

.site__about {
	padding: 2em;
	background: #efefef;
	border-bottom: 2px solid #FF530D;
}

.site__content {
	padding: 2em;
}

@media (min-width: 1000px) {
	.site {
		max-width: 1200px;
		margin: 0 auto;
		overflow: hidden;
		font: normal 18px/1.4 "PT Sans",sans-serif;
	}

	.site__about {
		float: right;
		box-sizing: border-box;
		width: 20em;
		padding-right: 25px;
	}

	.site__content {
		overflow: hidden;
		padding-right: 4em;
	}
}


.article {
	margin-top: 4em;
}

.article:first-child {
	margin-top: 0;
}

.article__item {
}

.article__item:first-child {
	margin-top: 0;
}

.article h1 {
	margin: 0.5em 0;
	font-size: 200%;
	line-height: 1.2;
}

.article h1 a {
	color: #FF530D;
}

.article h1:first-child {
	margin-top: 0;
}

.article h2 {
	margin: 1em 0 0.5em;
}

.article__date {
	margin-bottom: 1em;
	font-style: italic;
	color: #3F5765;
}

.article__date.article__date_after {
	margin: 1em 0 0 0;
}

.article p {
	margin: 0.5em 0;
	line-height: 1.5;
}

.article__paragraph,
.article__more {
	display: block;
	margin: 1em 0;
}

.article__comments {
	margin-top: 2em;
}


.about__photo {
	overflow: hidden;
	width: 8em;
	border-radius: 10em;
}

.about__text {
	margin: 1em 0;
}

.about__img {
	display: block;
	max-width: 100%;
}



.links__group {
	margin-top: 0.6em;
}
.links__group:first-child {
	margin-top: 0;
}

.links__item {
	display: inline-block;
}

.links__item:link {
	color: #FF530D;
}
.links__item:visited {
	color: #2B3A42;
}

.links__group_external .links__item {
	margin-right: 0.6em;
}

.links__item_active {
	font-weight: bold;
}


.more__link:link {
	color: #FF530D;
}
.more__link:visited {
	color: #2B3A42;
}