include /blocks/links/links

extends /blocks/article/article

block title
	| #{data.title} — oleggromov.com

block content
	| !{data.content}

block date
	| #{moment(data.date).format('LLL')}

block menu
	+links(common.menu, common.external)
