include links
include tags
include published

extends layout_article_covered

block title
	| !{data.page.title} — oleggromov.com

block cover
	h1!= data.page.title
	.site__cover-date
		+published(data.page.category, data.page.date)

	if data.page.written
		.site__cover-date
			| Written on #{util.moment(data.page.written).format('LL')}

block content
	if data.page.tags
		.article__tags
			+tags(data.page.tags)

	| !{data.page.html}

block menu
	+links(data.menu, data.extra.common.external, data.tags)
