include links
include tags

extends layout_article

block title
	| !{data.page.title} — oleggromov.com

block content
	h1!= data.page.title

	.article__date
		| #{util.moment(data.page.date).format('LL')}

	if data.page.tags
		.article__tags
			+tags(data.page.tags)

	| !{data.page.html}

block menu
	+links(data.menu, data.extra.common.external, data.tags)
