include links

extends layout_article

block title
	| #{meta.title} — oleggromov.com

block content
	| !{content}

block date
	| #{moment(meta.date).format('LLL')}

block menu
	+links(common.menu, common.external)
