doctype html
html
	head
		meta(charset="UTF-8")
		title
			block title

		meta(name="viewport", content="width=device-width, initial-scale=1")
		link(rel="stylesheet", href="/static/styles.css")
	body
		.site
			aside.site__about
				.sidebar
					.sidebar__about
						include about

					nav.sidebar__links
						block menu

			.site__content
				.article
					block content

					.article__tags
						block tags

					.article__date.article__date_after
						block date

					.article__comments
						include disqus

			.site__footer
				include footer

		include metrika
