include headstuff

doctype html
html
	head
		meta(charset="UTF-8")
		title
			block title

		+headstuff

	body
		.site
			aside.site__about
				.sidebar
					.sidebar__about
						include about

					nav.sidebar__links
						block menu

			.site__content
				block content

			.site__footer
				include footer

		include metrika
		script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js")
		script.
			if (hljs) {
				hljs.initHighlightingOnLoad()
			}

