include headstuff

doctype html
html
	head
		meta(charset="UTF-8")
		title
			block title

		+headstuff

	body
		.site.site_mode_cover
			.site__cover(style=`background-image: url(${data.page.getMeta('cover')}); background-color: ${data.page.getMeta('coverColor')}`)
				block cover

			aside.site__about
				.sidebar
					.sidebar__about
						include about

					nav.sidebar__links
						block menu

			.site__content
				.article
					block content

					.article__comments
						include disqus

			.site__footer
				include footer

		include metrika
		script(src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.5.0/highlight.min.js")
		script.
			if (hljs) {
				hljs.initHighlightingOnLoad()
			}
