mixin links(links, external)
	nav.links
		.links__group
			each link in links
				a.links__item(href=link.url)= link.name

				if link.subs
					nav.links__sub
						each sub in link.subs
							a.links__item(href=sub.url)= sub.name

		.links__group.links__group_external
			each link in external
				a.links__item(href=link.url)= link.name

		//- .links__group
			a.links__item(href="mailto:hi@oleggromov.com") hi@oleggromov.com
