include links

extends article

block title
	| #{data.source.title} — oleggromov.com

block content
	| !{data.source.html}

block date
	| #{util.moment(data.source.meta.date).format('LLL')}

block menu
	+links(data.extra.common.menu, data.extra.common.external)
